@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: url("https://www.morosystems.cz/wp-content/themes/morosystems/static/img/illust/intro/about-us.jpg") rgba(0, 0, 0, 0.5);
    background-size:cover;
    background-blend-mode: multiply;
}
