.App {
    width: 35%;
    padding: 10px;
    margin: 10% auto 0;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.redux-toastr .bottom-right {
    width: 500px;
}
